asgiref==3.11.1
Django==5.2
django-ckeditor==6.7.3
django-environ==0.13.0
django-taggit==6.1.0
django-user-visit==2.3
gunicorn==25.1.0
packaging==26.0
pillow==12.1.1
sqlparse==0.5.5
tzdata==2025.3
ua-parser==1.0.1
ua-parser-builtins==202603
user-agents==2.2.0
whitenoise==6.12.0
psycopg2-binary==2.9.10
django-cloudinary-storage
cloudinary